#login-card {
  max-width: 600px;
  padding: 20px;
  align-items: center;
}
#signUpText {
  padding-top: 10px;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
  text-decoration-color: blue;
}

.card-container {
  height: 100vh; /* Use the full height of the viewport */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center;
  padding: 20px;
}

.button-width {
  width: 200px;
}
