.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.flex-spacer {
  flex: 1 1 auto;
}
#newChatBtn {
  padding: 3px;
}
mat-icon {
  padding: 5px;
}

#logout {
  display: flex;
  padding: 3px;
  cursor: pointer;
  align-items: center;
}
#logout p {
  margin-top: 8px;
}
